# OS
.DS_Store
Thumbs.db

# Editor / IDE
.idea
.vscode
*.swp
*.swo
*~

# Entorno y secretos
.env
.env.*
!.env.example

# Dependencias
node_modules

# Logs
*.log

# Temporales
.tmp
.cache

# Builds (global)
dist
build
.next
out
coverage

############################
# NEXT.JS
############################
senderos-de-chiapas/.next
senderos-de-chiapas/out
senderos-de-chiapas/build
senderos-de-chiapas/coverage
senderos-de-chiapas/*.tsbuildinfo
senderos-de-chiapas/.turbo
senderos-de-chiapas/.vercel

############################
# STRAPI
############################
backend/dist
backend/build
backend/.cache
backend/.tmp